<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.hackademic.libgen</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>35929A1C-E5E5-43C8-B8F2-D328F061102F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A263187F-8919-4BF2-B08B-0ADA4A68672C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stephen Margheim</string>
	<key>description</key>
	<string>Search and Download books from Library Genesis (v. 1.1)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LibGen</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>libgen</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>python libgen.py "search" "{query}"</string>
				<key>title</key>
				<string>Search Library Genesis</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>35929A1C-E5E5-43C8-B8F2-D328F061102F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>http://libgen.org/get.php?md5={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>A263187F-8919-4BF2-B08B-0ADA4A68672C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>35929A1C-E5E5-43C8-B8F2-D328F061102F</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A263187F-8919-4BF2-B08B-0ADA4A68672C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>hackademic.postach.io</string>
</dict>
</plist>
