<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>77269867-DF3F-43FA-AD1A-893B32E5B492</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AB662ED-36B9-4CC2-8222-B47A0A6B8335</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ghasak Ibrahim</string>
	<key>description</key>
	<string>Connecting to Azer Repo</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>github</string>
				<key>subtext</key>
				<string>From the Getting Started - Keywords guide</string>
				<key>text</key>
				<string>Launch Safari at Azure DevOps</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>77269867-DF3F-43FA-AD1A-893B32E5B492</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>osascript -e "tell application \"Safari\"
    make new document
    set URL of document 1 to \"https://github.com/Ghasak\"
    set bounds of window 1 to {0, 0, 2560, 1080}
end tell"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4AB662ED-36B9-4CC2-8222-B47A0A6B8335</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords are one of Alfred's most commonly used and most useful ways of launching actions. Set a keyword and connect it to the action(s) you want to perform.

Type your keyword into Alfred, followed by your input text if needed, and you'll be on your way to boosting your productivity!</string>
	<key>uidata</key>
	<dict>
		<key>4AB662ED-36B9-4CC2-8222-B47A0A6B8335</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>77269867-DF3F-43FA-AD1A-893B32E5B492</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>1. This keyword is set to not require additional input text, so that you can type "gettingstarted" and press return to launch the two attached actions at once.</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
