<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.vero.examplelistfilter</string>
	<key>connections</key>
	<dict>
		<key>254793C1-8BEB-47A3-B1B5-037F3F6B2333</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9974F508-20FC-4F4A-BEA3-49BAA8644AD9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7545D536-D12B-4072-A54B-BE53615EE500</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>254793C1-8BEB-47A3-B1B5-037F3F6B2333</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>22E5CB21-EEEB-4C9C-9C47-A521AE4F9130</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D443C676-E75C-4E81-AA20-EEC11E366119</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>812F765B-F8DA-4986-94D0-03E9A4DC3008</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED4A1691-EDD8-4E1E-9351-CC88A1B54638</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C11695E4-5CA7-4928-A33F-EF9A0B74BBFB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7545D536-D12B-4072-A54B-BE53615EE500</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E76FC0C3-08D1-4211-AE17-AA25CF3C2614</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>812F765B-F8DA-4986-94D0-03E9A4DC3008</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>ED4A1691-EDD8-4E1E-9351-CC88A1B54638</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C11695E4-5CA7-4928-A33F-EF9A0B74BBFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vero Pepperrell</string>
	<key>description</key>
	<string>Use "todo" followed by your task, then choose a list to add it to.</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Simple To-Do List</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>{var:path}/{var:filename}.txt</string>
				<key>filetext</key>
				<string>- {var:task}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>254793C1-8BEB-47A3-B1B5-037F3F6B2333</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:task}</string>
				<key>title</key>
				<string>Added task to {var:filename}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9974F508-20FC-4F4A-BEA3-49BAA8644AD9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Home","arg":"home","subtitle":"Stuff relating to home"},{"title":"Work","arg":"work","subtitle":"Work-related tasks"},{"title":"Waiting For","arg":"waitingfor","subtitle":"What you waiting, what you waiting foooor?"}]</string>
				<key>keyword</key>
				<string>vtodo</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Which list would you like to use?</string>
				<key>title</key>
				<string>Choose a to-do list</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>ED4A1691-EDD8-4E1E-9351-CC88A1B54638</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>todo</string>
				<key>subtext</key>
				<string>What's your task?</string>
				<key>text</key>
				<string>Add a Task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E76FC0C3-08D1-4211-AE17-AA25CF3C2614</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:task}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Append</string>
						<key>uid</key>
						<string>22E5CB21-EEEB-4C9C-9C47-A521AE4F9130</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Open File</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7545D536-D12B-4072-A54B-BE53615EE500</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>task</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>812F765B-F8DA-4986-94D0-03E9A4DC3008</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filename</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C11695E4-5CA7-4928-A33F-EF9A0B74BBFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{var:path}/{var:filename}.txt</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D443C676-E75C-4E81-AA20-EEC11E366119</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This simple workflow lets you add tasks to to-do lists, using a separate text file for each list.

Type "todo" followed by your task, then choose a to-do list, or type "vtodo" to view the list of your choice.

CHANGING DEFAULTS

To-do lists location: The workflow saves your to-do lists in ~/Documents/Alfred/todos/ but you can change the path in the Workflow Environment Variables window.

Lists names: These are "Work", "Home" and "Waiting For" by default. You can change them in the List Filter object within the workflow.</string>
	<key>uidata</key>
	<dict>
		<key>254793C1-8BEB-47A3-B1B5-037F3F6B2333</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>7. The Append To File output appends the to-do text (moved into a variable called "todo" in the orange object) to the appropriate list.</string>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>7545D536-D12B-4072-A54B-BE53615EE500</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>note</key>
			<string>6. The Conditional utility allows you to decide which path the workflow should take, based on whether the query should be appended, or the list opened.</string>
			<key>xpos</key>
			<integer>555</integer>
			<key>ypos</key>
			<integer>155</integer>
		</dict>
		<key>812F765B-F8DA-4986-94D0-03E9A4DC3008</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>2. The Arg/Var utility moves your task (the query) to a variable called "todo" until it's needed later in the green path.</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>9974F508-20FC-4F4A-BEA3-49BAA8644AD9</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>8. The Post Notification output lets you know that the task has been added through the Notification Center.</string>
			<key>xpos</key>
			<integer>850</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>C11695E4-5CA7-4928-A33F-EF9A0B74BBFB</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>5. The Arg/Var utility moves the chosen to-do list to a variable called "filename" until it's needed later.</string>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>165</integer>
		</dict>
		<key>D443C676-E75C-4E81-AA20-EEC11E366119</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>9. The Open File action opens the list specified in the yellow List Filter object.</string>
			<key>xpos</key>
			<integer>695</integer>
			<key>ypos</key>
			<integer>265</integer>
		</dict>
		<key>E76FC0C3-08D1-4211-AE17-AA25CF3C2614</key>
		<dict>
			<key>note</key>
			<string>1. This object sets the keyword you use to start adding a new task to your to-do list. Type "todo" followed by your task (e.g. "todo bake a cake")</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>ED4A1691-EDD8-4E1E-9351-CC88A1B54638</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>3. The List Filter input lets you select (from the options you set in this object) which to-do list to add the task to. (Following the green path)

4. Using "vtodo" keyword and selecting a list opens the specified to-do list instead. (Following the blue path as there is no "task" variable)</string>
			<key>xpos</key>
			<integer>290</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>path</key>
		<string>~/Documents/Alfred/todos/</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
