<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.danieljchen.8ball</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Daniel J Chen</string>
	<key>description</key>
	<string>Magic 8 Ball Workflow that gives a random response from a set of 20</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Magic 8 Ball</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>8ball</string>
				<key>runningsubtext</key>
				<string>Getting response...</string>
				<key>script</key>
				<string>./8ball.sh {query}</string>
				<key>subtext</key>
				<string>Shake the Magic 8 Ball</string>
				<key>title</key>
				<string>Magic 8 Ball</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>805465BC-A18F-4FC1-BF71-8125A4F9743D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>805465BC-A18F-4FC1-BF71-8125A4F9743D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>DanielJChen.com</string>
</dict>
</plist>
